<template>
  <div>
    <v-navigation-drawer app>
      <side-bar/>
    </v-navigation-drawer>

    <v-app-bar app>
      <top-bar/>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app padless>
      <the-footer />
    </v-footer>
  </div>
</template>

<script>
import SideBar from "@/components/navigation/SideBar";
import TopBar from "@/components/navigation/TopBar";
import TheFooter from "@/components/navigation/TheFooter";

export default {
  name: "MainContainer",
  components: {SideBar, TopBar, TheFooter},
}
</script>

<style scoped>

</style>