<template>
  <v-card
      class="mx-auto"
      height="100%"
      width="256"
  >
    <v-navigation-drawer permanent>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Application
          </v-list-item-title>
          <v-list-item-subtitle>
            subtext
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
          dense
          nav
      >
        <v-list-item
            v-for="item in items"
            :key="item.title"
            link
            :disabled="item.disabled"
            @click="navigate(item.route)"
        >
          <v-list-item-icon disabled="true">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content disabled="true">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      items: [
        {title: 'Welcome', icon: 'mdi-account', route: '/'},
        {title: 'My Playlists', icon: 'mdi-music-box-multiple', route: 'playlists', disabled: true},
        {title: 'My Saved Tracks', icon: 'mdi-image', route: "saved-tracks", disabled: true},
        {title: 'Create playlist from time period', icon: 'mdi-pencil-outline', route: "create-playlist"},
      ],
      right: null,
    }
  },
  methods:{
    navigate(route){
      if(route) this.$router.push(route);
    },
  },
}
</script>

<style scoped>

</style>