<template>
  <v-footer
      dark
      padless
  >
    <v-container
        class="indigo lighten-1 white--text text-center"
        fill-height
        flat
        fluid
    >
      <v-card-text>
        <v-btn
            v-for="icon in icons"
            :key="icon.icon"
            class="mx-4 white--text"
            icon
            :href="icon.link"
            target="_blank"
        >
          <v-icon size="24px">
            {{ icon.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0 pb-0">
        Create your own spotify playlists from your saved tracks,
        filtering by author, time added, albums and much more!
      </v-card-text>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Created in Vuetify by macianga</strong>
      </v-card-text>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "TheFooter",
  data: () => ({
    icons: [
      {
        icon: 'mdi-gitlab',
        link: 'https://gitlab.com/macieq2048/spotify-playlists',
      },
      {
        icon: 'mdi-linkedin',
        link: '',
      },
      {
        icon: 'mdi-instagram',
        link: '',
      },
      {
        icon: 'mdi-slack',
        link: '',
      },
    ],
  }),
}
</script>

<style scoped>

</style>