<template>
  <div>
    <span v-if="token"
          class="text-md-h6 green--text">Spotify authorization successful. You will be redirected shortly</span>
    <span v-else class="text-md-h6 red--text">There was a problem with the authorization process :((</span>
  </div>
</template>

<script>

import {setToken} from "@/utils/spotify";

export default {
  name: "Authorize",
  data() {
    return {
      token: ""
    }
  },
  async mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("error")) {
      await this.$router.push({
        name: "Welcome", params: {currentStep: 1, authorizationError: true}
      });
      return;
    }
    let hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
    this.token = hash.split("=")[1].split("&")[0];
    setToken(this.token);
    await this.$router.push({
      name: "Welcome", params: {beginWithStep: 2}
    });
  },
}
</script>

<style scoped>

</style>