<template>
  <v-container>
    <v-snackbar
        v-model="snackbar"
    >
      {{ errorMessage }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-row>
      <v-col>
        <v-row>
          <v-col
              cols="auto"
              sm="6"
          >
            <v-date-picker
                v-model="selectedDates"
                range
            ></v-date-picker>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="auto">
        <v-btn
            color="green"
            @click="getSongsInDateRange"
        >
          Get songs
        </v-btn>
        <v-btn
            color="blue"
            @click="createPlaylistFromSongs"
        >
          Create playlist
        </v-btn>
        <v-text-field
            v-model="playlistName"
            hint="Playlist name"
            label="Playlist name"
        ></v-text-field>
      </v-col>
      <v-col cols="auto">
        <Track
            v-for="track in selectedTracks"
            :key="track.added_at + track.track.name"
            :artists="track.track.artists"
            :date-added="track.added_at"
            :img="track.track.album.images[0].url"
            :name="track.track.name"
        />
      </v-col>
    </v-row>
  </v-container>

</template>

<script>
import Track from "@/components/Track";
import {createPlaylist} from "@/utils/spotify";

export default {
  name: "CreatePlaylist",
  components: {Track},
  data() {
    return {
      selectedDates: ["2021-09-30", "2021-10-17"],
      selectedTracks: [],
      playlistName: "",
      snackbar: false,
      errorMessage: "",
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    async getSongsInDateRange() {
      if (this.selectedDates.length < 2) return;
      let songs = JSON.parse(localStorage.getItem("saved_tracks")).tracks;
      let halfDay = 24 * 60 * 60 * 1000 + 1;
      songs = songs.filter((song) => {
        const dateAdded = new Date(song.added_at).getTime();
        const beginDate = new Date(this.selectedDates[0]).getTime();
        const endDate = new Date(this.selectedDates[1]).getTime() + halfDay;
        return beginDate < dateAdded && dateAdded < endDate;
      })
      this.selectedTracks = songs;
      console.log(songs);
    },
    async createPlaylistFromSongs() {
      if (!this.playlistName) {
        this.errorMessage = "Input some playlist name";
        this.snackbar = true;
        return;
      }
      if (!this.selectedTracks.length) {
        this.errorMessage = "Get some songs first";
        this.snackbar = true;
        return;
      }
      const res = await createPlaylist(this.playlistName);
      // todo assert correct response
      const playlistId = res.id;
      console.log(playlistId);
      // const tracksUris = this.selectedTracks.map((track) => {
      //   return track.track.uri;
      // })
      // const resCP = await spotifyApi.addTracksToPlaylist(playlistId, tracksUris);
      // console.log(resCP);
    },
  },
}
</script>

<style scoped>

</style>