<template>
  <div>
    <v-row>
      <v-col
          v-for="playlist in playlistsData"
          :key="playlist.spotifyLink"
          class="d-flex child-flex"
          cols="4"
      >
        <Playlist
            :img="getImageForPlaylist(playlist)"
            :playlist-name="playlist.name"
            :spotify-link="playlist.spotifyLink"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Playlist from "@/components/Playlist";
import SpotifyWebApi from "spotify-web-api-js";
import {getToken} from "@/utils/spotify";

export default {
  name: "Playlists",
  components: {Playlist},
  data() {
    return {
      playlistsData: [],
    }
  },
  mounted() {
    this.getUsersPlaylists();
  },
  methods: {
    getImageForPlaylist(item) {
      return item.images[0] ? item.images[0].url : "";
    },
    async getUsersPlaylists() {
      const spotifyApi = new SpotifyWebApi();
      spotifyApi.setAccessToken(getToken());
      spotifyApi
          .getUserPlaylists() // note that we don't pass a user id
          .then(
              (data) => {
                this.playlistsData = data.items;
              },
              function (err) {
                console.error(err);
              }
          );
    },
  },

}
</script>

<style scoped>

</style>