<template>
  <div>
    <Track
        v-for="track in savedTracks"
        :key="track.added_at + track.track.name"
        :date-added="track.added_at"
        :img="track.track.album.images[0].url"
        :name="track.track.name"
        :artists="track.track.artists"
    />
  </div>
</template>

<script>

import Track from "@/components/Track";


export default {
  name: "SavedTracks",
  components: {Track},
  data() {
    return {
      savedTracks: {},
      sampleTrack: {},
    }
  },
  async mounted() {
    const tracks = JSON.parse(localStorage.getItem("saved_tracks"))
    this.savedTracks = tracks.tracks;
  },
  methods: {
    getImageForPlaylist(item) {
      return item.images[0] ? item.images[0].url : "";
    },
  },

}
</script>

<style scoped>

</style>