<template>
  <div>
    <v-parallax
        dark
        src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
    >
      <v-row
          align="center"
          justify="center"
      >
        <v-col
            class="text-center"
            cols="12"
        >
          <h1 class="text-h2 font-weight-thin mb-4">
            Lazyfi
          </h1>
          <h4 class="subheading">
            Create your own spotify playlists with ease!
          </h4>
        </v-col>
      </v-row>
    </v-parallax>
    <v-row
        align="center"
        justify="center"
    >
      <v-col
          class="text-center"
          cols="12"
      >
        <v-stepper v-model="currentStep">
          <v-stepper-header>
            <v-stepper-step
                :complete="currentStep > 1"
                step="1"
            >
              Login with your Spotify account
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
                :complete="currentStep > 2"
                step="2"
            >
              Read your saved tracks
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
                :complete="currentStep >= 3"
                step="3">
              Create playlists!
            </v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card
                  class="mb-12 d-flex align-center justify-center"
                  color="green lighten-4"
                  height="300px"
              >
                <AuthorizeSpotifyButton/>
              </v-card>

            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card
                  class="mb-12 d-flex align-center justify-center"
                  color="green lighten-4"
                  height="300px"
              >
                <load-songs
                    :current-step.sync="currentStep"
                />
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-card
                  class="mb-12 d-flex align-center justify-center"
                  color="green lighten-4"
                  height="300px"
              >
                <v-row
                    align="center"
                    justify="center"
                >
                  <v-col
                      class="text-center"
                      cols="12"
                  >
                    <h1 class="text-h4 font-weight-medium mb-4">
                      Now you are ready to create your dream playlists!
                    </h1>
                  </v-col>
                  <v-col
                      class="text-center"
                      cols="12"
                  >
                    <v-btn
                        color="green"
                        href="create-playlist"
                    >
                      Go to your dashboard
                      <router-link to="create-playlist"/>
                    </v-btn>
                  </v-col>
                </v-row>
                <br/>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
    <the-footer/>
  </div>
</template>

<script>

import AuthorizeSpotifyButton from "@/components/AuthorizeSpotifyButton";
import TheFooter from "@/components/navigation/TheFooter";
import LoadSongs from "@/components/LoadSongs";

export default {
  name: "Welcome",
  components: {LoadSongs, TheFooter, AuthorizeSpotifyButton},
  data: () => ({
        currentStep: 1,
      }
  ),
  props: {
    beginWithStep: {
      type: Number,
    },
    authorizationError: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    if(this.beginWithStep) this.currentStep = this.beginWithStep;
    if (this.authorizationError) {
      this.$swal({
        icon: 'error',
        title: 'Oops...',
        html:
            'Something went wrong! <br/>' +
            'Couldn\'t authorize user. Try again later.',
      })
    }
  },
}
</script>

<style scoped>

</style>