<template>
  <v-btn
      color="green"
      @click="redirect(authorizationUrl)"
  >
    Login with spotify
  </v-btn>
</template>

<script>
import {SPOTIFY_API_ENDPOINTS} from "@/constatns/endpoints";
import {redirect} from "@/utils/redirect";

export default {
  name: "AuthorizeSpotifyButton",
  data() {
    return {
      redirect: redirect,
    }
  },
  async mounted() {

  },
  computed: {
    authorizationUrl() {
      const redirect_uri = window.location.href !== 'https://macieq2048.gitlab.io/spotify-playlists/' ? `${window.location.href}authorize`
          : "https://macieq2048.gitlab.io/spotify-playlists/authorize";
      const query_params = {
        "client_id": "186edffb73154f44ba3100f384f9d71a",
        "response_type": "token",
        "redirect_uri": redirect_uri,
        "scope": "user-library-read",
        "show_dialog": "true"
      }
      return `${SPOTIFY_API_ENDPOINTS.base}${this.paramsFromDict(query_params)}`
    }
  },
  methods: {
    paramsFromDict(dict) {
      let params = "?"
      for (const [key, value] of Object.entries(dict)) {
        params += `${key}=${value}&`
      }
      return params;
    },
  },
}
</script>

<style scoped>

</style>