<template>
  <h1 class="black--text pt-0 pb-0">
      Loading your saved tracks
    <v-progress-linear
        :value="progress"
        buffer-value="100"
        color="green"
    ></v-progress-linear>
  </h1>
</template>

<script>
import {getUserSavedTracks} from "@/utils/spotify";

export default {
  name: "LoadSongs",
  data: () => ({
        progress: 0,
      }
  ),
  props: {
    currentStep: Number,
  },
  watch: {
    currentStep() {
      if (this.currentStep === 2) this.getSongsToLocalstorage();
    },
  },
  mounted() {
    if (this.currentStep === 2) this.getSongsToLocalstorage();
  },
  methods: {
    async getSongsToLocalstorage() {
      const songs = await getUserSavedTracks();
      const totalNoSongs = songs.total;
      const limit = 50;
      let allSongs = [];
      allSongs.push.apply(allSongs, songs.items);
      for (let i = 1; i < Math.ceil(totalNoSongs / limit) + 1; i++) {
        this.progress = Math.ceil(limit * i / totalNoSongs * 100);
        const songs = await getUserSavedTracks(i * limit, limit);
        allSongs.push.apply(allSongs, songs.items);
      }
      const object = {tracks: allSongs, timestamp: new Date().getTime()}
      localStorage.setItem("saved_tracks", JSON.stringify(object));
      this.$emit("update:currentStep", 3);
    },
  },
}
</script>

<style scoped>

</style>