<template>
  <div>
    <a :href="spotifyLink" target="_blank">
      <v-img
          v-if="img"
          :aspect-ratio="1"
          :src="img"
      >
        <!--      wrapper for slots-->
        <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
          <slot :name="slot" v-bind="scope"/>
        </template>
      </v-img>
      <v-img
          v-else
          :aspect-ratio="1"
          contain
          src="@/assets/images/common/not_found.svg">
      </v-img>
    </a>
    <span class="text--darken-2">{{ PlaylistName }}</span>
  </div>
</template>

<script>
export default {
  name: "Playlist",
  props: {
    img: String,
    imgLazy: String,
    spotifyLink: String,
    PlaylistName: String,
  }
}
</script>

<style scoped>

</style>