<template>
  <v-container class="grey lighten-5">
    <v-row no-gutters class="mb-6" rows="1">
      <v-col>
          <v-img
              :src="img"
              alt="Avatar"
              max-height="40"
              contain
          />
      </v-col>
      <v-col>
          {{ name }}
      </v-col>
      <v-col>
        <h5>
          {{ artistsFormatted }}
        </h5>
      </v-col>
      <v-col>
          {{ dataFormatted }}
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Track",
  props: {
    img: String,
    name: String,
    dateAdded: String,
    artists: [],
  },
  data() {
    return {}
  },
  computed:{
    dataFormatted(){
      let date = new Date(this.dateAdded);
      return date.toDateString();
    },
    artistsFormatted(){
      if(!this.artists) return "";
      return this.artists.map((artist=>{
        return artist.name;
      })).join(", ");
    },
  },
}
</script>

<style scoped>

</style>